body{
    background-color: lightgray;
}
table {
    margin: 0 auto;
    width: 350px;
    border: solid 1px lightgray;
    -webkit-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
}

table thead tr th {
    background-color: black;
    color: aliceblue;
}

tbody tr:nth-child(even){ 
    background-color: darkslateblue;
}